<div class='foot'>
    <div class='seccion-footer'>
        <h5><i class='fas fa-map-marker-alt'></i> Buenaventura - Colombia</h5>
        <h5><i class='fas fa-phone-alt'></i> (602)24-12345</h5>
        <h5><i class='fab fa-whatsapp'></i> +57 310 123 4567</h5>
    </div>
    <!-- <div class='seccion-footer'>
        <img src={avion} alt='will travel' class='logo' />
    </div> -->
    <div class='seccion-footer'>
        <h5><i class='fab fa-facebook-square derecha'></i> - San Cipriano</h5>
        <h5><i class='fab fa-twitter'></i> - @Sancipriano</h5>
        <h5><i class='fab fa-instagram'></i> - @Sancipriano</h5>
    </div>
</div>