<div>
    <div class='header-superior'>
    <!-- <a><img src={logo} alt='Will Travel' id='logo'/></a> -->
    <a class='social'>
        <i class='fab fa-facebook-square'></i> &nbsp;
        <i class='fab fa-twitter'></i> &nbsp;
        <i class='fab fa-instagram'></i> &nbsp;
    </a>
</div>
<div class='header-inferior'>
    <nav class='navbar-expand-xl navbar-expand-md navbar-expand-sm'>
        <div class='navbar-nav'>
            <a class='nav-link'>Inicio</a>
            <a class='nav-link'>Quiénes somos</a>
            <a class='nav-link'>Contacte un asesor</a>
            <a href="login" class='nav-link'>Login</a>
        </div>
    </nav>
</div>
</div>
