<!-- login.component.html -->
<main class="fondo">
  
<div class="login">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <label>Correo</label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Correo"
        required="required"
      />
      <label>Contraseña</label>
      <input
        id="clave"
        type="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <button id="ingresar" type="submit" onclick="login()" value="Ingresar">Ingresar</button>
      <a href="register">¿No tiene una cuenta?</a>
    </form>
  </div>
</main>
