<!-- login.component.html -->
<main class="fondo">
  
<div class="login">
    <form class="custom-form" method="post" [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Login</h1>
      <label>Correo</label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Correo"
        required="required"
        formControlName="email"
      />
      <label>Contraseña</label>
      <input
        id="clave"
        type="password"
        name="password"
        placeholder="Contraseña"
        required="required"
        formControlName="password"
      />
      <button id="ingresar" type="submit">Ingresar</button>
      <a href="register">¿No tiene una cuenta?</a>
      <div >
      <label id="mensaje">Usuario o contraseña incorrecta</label>
      </div>
    </form>
  </div>
</main>
