
<main>
    <header>
        <app-navbar></app-navbar>
    </header>

    <article class='playas'>
        <div class="playa" id=pianguita>
            <div class="parrafo">
                <h3>SAN CIPRIANO</h3>
                <br/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum delectus sapiente porro earum soluta vitae odio et voluptatum iusto quo, nobis natus ullam nemo necessitatibus a reprehenderit ab suscipit?</p>
            </div>
        </div>
        <!-- <Playa
          id='pianguita'
          class='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab tempore, voluptates recusandae nesciunt dolor tempora, corporis illo rem perspiciatis veniam, eaque at hic sit reprehenderit'
        />
        <Playa
          id='magüipi'
          class='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab tempore, voluptates recusandae nesciunt dolor tempora, corporis illo rem perspiciatis veniam, eaque at hic sit reprehenderit'
        />
        <Playa
          id='ladrilleros'
          class='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab tempore, voluptates recusandae nesciunt dolor tempora, corporis illo rem perspiciatis veniam, eaque at hic sit reprehenderit'
        /> -->
      </article>

      <div class="articulos">
        <article>
          <section>
            <h2 class="titulo-seccion">CALENDARIO</h2>
          </section>
          <section class="articulo">
            
            <div class="plan" >
              <div class="parrafo">
                  <app-calendar></app-calendar>
              </div>
          </div>
            <!-- <Plan
              id='will-tranqui'
              plan='WILL TRANQUI'
              class='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab tempore, voluptates recusandae'
            />
            <Plan
              id='will-romantic'
              plan='WILL ROMANTIC'
              class='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab tempore, voluptates recusandae'
            />
            <Plan
              id='will-adventour'
              plan='WILL ADVENTOUR'
              class='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab tempore, voluptates recusandae'
            /> -->
          </section>
        </article>
      </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</main>