<!-- register.component.html -->

<main class="fondo">
<div class="register">
    <form class="custom-form" method="post" [formGroup]="registerForm" (ngSubmit)="register()">
      <h1>Registro</h1>
      <label>Correo</label>
      <input
        type="email"
        name="email"
        placeholder="Correo"
        required="required"
        formControlName="email"
      />
      <label>Contraseña</label>
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required="required"
        formControlName="password"
      />
      <label>Repita la contraseña</label>
      <input
        type="password"
        name="password"
        placeholder="Repita la contraseña"
        required="required"
        formControlName="repeatPassword"
      />
      <button type="submit">Registrarse</button>
      <a href="/">¿Ya tiene cuenta?</a>
    </form>
  </div>
</main>