<!-- register.component.html -->

<main class="fondo">
<div class="register">
    <form class="custom-form" method="post">
      <h1>Registro</h1>
      <label>Correo</label>
      <input
        type="email"
        name="email"
        placeholder="Correo"
        required="required"
      />
      <label>Contraseña</label>
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <label>Repita la contraseña</label>
      <input
        type="password"
        name="password"
        placeholder="Repita la contraseña"
        required="required"
      />
      <button type="submit" onclick="register()">Registrarse</button>
      <a href="login">¿Ya tiene cuenta?</a>
    </form>
  </div>
</main>